# 3 - SQLAlchemy


<br>
<br>

<img src="https://raw.githubusercontent.com/Hack-io-AI/ai_images/main/sqlalchemy.webp" style="width:400px;"/>

<h1>Tabla de Contenidos<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#1---¿Qué-es-SQLAlchemy?" data-toc-modified-id="1---¿Qué-es-SQLAlchemy?-1">1 - ¿Qué es SQLAlchemy?</a></span></li><li><span><a href="#2---String-de-conexión-URI" data-toc-modified-id="2---String-de-conexión-URI-2">2 - String de conexión URI</a></span></li><li><span><a href="#3---Motor-de-conexión" data-toc-modified-id="3---Motor-de-conexión-3">3 - Motor de conexión</a></span></li><li><span><a href="#4---Conexión-y-ejecución-de-queries" data-toc-modified-id="4---Conexión-y-ejecución-de-queries-4">4 - Conexión y ejecución de queries</a></span></li><li><span><a href="#5---Creación,-inserción-y-consulta-paso-a-paso" data-toc-modified-id="5---Creación,-inserción-y-consulta-paso-a-paso-5">5 - Creación, inserción y consulta paso a paso</a></span><ul class="toc-item"><li><span><a href="#5.1---Apertura-de-conexión" data-toc-modified-id="5.1---Apertura-de-conexión-5.1">5.1 - Apertura de conexión</a></span></li><li><span><a href="#5.2---Creación-de-una-base-de-datos" data-toc-modified-id="5.2---Creación-de-una-base-de-datos-5.2">5.2 - Creación de una base de datos</a></span></li><li><span><a href="#5.3---Conexión-a-base-de-datos" data-toc-modified-id="5.3---Conexión-a-base-de-datos-5.3">5.3 - Conexión a base de datos</a></span></li><li><span><a href="#5.4---Creación-de-una-tabla" data-toc-modified-id="5.4---Creación-de-una-tabla-5.4">5.4 - Creación de una tabla</a></span></li><li><span><a href="#5.5---Inserción-de-datos" data-toc-modified-id="5.5---Inserción-de-datos-5.5">5.5 - Inserción de datos</a></span></li><li><span><a href="#5.6---Consulta-SELECT" data-toc-modified-id="5.6---Consulta-SELECT-5.6">5.6 - Consulta SELECT</a></span></li><li><span><a href="#5.7---Borrado-de-tabla" data-toc-modified-id="5.7---Borrado-de-tabla-5.7">5.7 - Borrado de tabla</a></span></li><li><span><a href="#5.8---Borrado-de-base-de-datos" data-toc-modified-id="5.8---Borrado-de-base-de-datos-5.8">5.8 - Borrado de base de datos</a></span></li><li><span><a href="#5.9---Cerrar-conexión" data-toc-modified-id="5.9---Cerrar-conexión-5.9">5.9 - Cerrar conexión</a></span></li></ul></li><li><span><a href="#6---ORM" data-toc-modified-id="6---ORM-6">6 - ORM</a></span><ul class="toc-item"><li><span><a href="#6.1---Conexión-y-creación-de-base-de-datos" data-toc-modified-id="6.1---Conexión-y-creación-de-base-de-datos-6.1">6.1 - Conexión y creación de base de datos</a></span></li><li><span><a href="#6.2---Creación-de-tablas" data-toc-modified-id="6.2---Creación-de-tablas-6.2">6.2 - Creación de tablas</a></span></li><li><span><a href="#6.3---Inicio-de-sesión" data-toc-modified-id="6.3---Inicio-de-sesión-6.3">6.3 - Inicio de sesión</a></span></li><li><span><a href="#6.4---Inserción-de-Datos" data-toc-modified-id="6.4---Inserción-de-Datos-6.4">6.4 - Inserción de Datos</a></span></li><li><span><a href="#6.5---Consulta-SELECT" data-toc-modified-id="6.5---Consulta-SELECT-6.5">6.5 - Consulta SELECT</a></span></li><li><span><a href="#6.6---Borrado-de-Tabla" data-toc-modified-id="6.6---Borrado-de-Tabla-6.6">6.6 - Borrado de Tabla</a></span></li><li><span><a href="#6.7---Borrado-de-Base-de-Datos" data-toc-modified-id="6.7---Borrado-de-Base-de-Datos-6.7">6.7 - Borrado de Base de Datos</a></span></li><li><span><a href="#6.8---Cerrar-Conexión" data-toc-modified-id="6.8---Cerrar-Conexión-6.8">6.8 - Cerrar Conexión</a></span></li></ul></li></ul></div>

## 1 - ¿Qué es SQLAlchemy?

[SQLAlchemy](https://www.sqlalchemy.org/) es una biblioteca de Python para trabajar con bases de datos relacionales mediante una técnica llamada Object-Relational Mapping (ORM). SQLAlchemy permite a los desarrolladores interactuar con bases de datos utilizando objetos de Python en lugar de escribir consultas SQL manualmente, lo que facilita el manejo y la manipulación de datos.


**Características principales de SQLAlchemy**


1. **ORM (Object-Relational Mapping)**: SQLAlchemy proporciona una abstracción de alto nivel para mapear clases de Python a tablas de la base de datos y viceversa. Esto permite trabajar con bases de datos utilizando objetos y métodos de Python en lugar de SQL.


2. **Core SQL expression language**: Además del ORM, SQLAlchemy proporciona una capa de bajo nivel para construir consultas SQL de manera programática, permitiendo un control más fino sobre las operaciones de la base de datos.


3. **Soporte de múltiples motores de bases de datos**: SQLAlchemy soporta una variedad de motores de bases de datos, incluyendo MySQL, SQLite, PostgreSQL, Oracle y Microsoft SQL Server. Esto permite cambiar entre diferentes bases de datos con mínimas modificaciones en el código.


4. **Gestión de sesiones**: SQLAlchemy utiliza un sistema de gestión de sesiones que permite agrupar operaciones de base de datos en transacciones, lo que facilita la gestión de cambios y la consistencia de los datos.


5. **Reflejo de esquema**: SQLAlchemy puede reflejar, cargar, automáticamente el esquema de una base de datos existente, permitiendo trabajar con bases de datos sin necesidad de definir manualmente las clases y tablas.



**Ventajas de Usar SQLAlchemy**

+ **Abstracción**: Permite trabajar con objetos en lugar de SQL puro, lo que hace el código más limpio y mantenible.

+ **Flexibilidad**: Ofrece tanto un ORM de alto nivel como un Core de bajo nivel para consultas más complejas.

+ **Compatibilidad**: Soporta múltiples motores de bases de datos, facilitando la migración entre diferentes sistemas de gestión de bases de datos.

+ **Productividad**: Simplifica la gestión de sesiones y transacciones, reduciendo la cantidad de código necesario para las operaciones comunes de bases de datos.

Para usar esta librería necesitamos ejecutar el siguiente comando por la terminal:

```bash
pip install SQLAlchemy
```

Para usar elm driver de mysql necesitamos ejecutar el siguiente comando por la terminal:

```bash
pip install pymysql
```

## 2 - String de conexión URI

Una string de conexión o URI (Uniform Resource Identifier) es una cadena de texto que proporciona toda la información necesaria para conectarse a una base de datos específica. Esta string incluye detalles como el tipo de base de datos, el nombre de usuario, la contraseña, el host, el puerto y el nombre de la base de datos. SQLAlchemy utiliza esta información para crear un Engine que maneja las conexiones a la base de datos.



**Formato de una string de conexión**


+ Para conectarnos al servidor, la string de conexión tiene el siguiente formato: `lenguaje+driver://usuario:password@servidor:puerto`



+ Para conectarnos directamente a la base de datos: `lenguaje+driver://usuario:password@servidor:puerto/nombre_base_datos`



**Explicación elemento a elemento**

+ `lenguaje`: Especifica el tipo de base de datos, por ejemplo mysql, postgresql o sqlite.

+ `driver`: Especifica el controlador API de la base de datos (DBAPI) a utilizar. Es opcional, puede omitirse en algunos casos.

+ `usuario`: El nombre de usuario para la autenticación.

+ `password`: La contraseña para la autenticación.

+ `servidor`: La dirección del servidor de la base de datos.

+ `puerto`: El puerto en el que el servidor de la base de datos está escuchando.

+ `nombre_base_datos`: El nombre de la base de datos a la que se desea conectar.

In [1]:
uri = 'mysql+pymysql://root:password@localhost:3306'

El password, igual que todas las contraseñas propias, nunca deben ser compoartidas. Para usarlas en código abierto, usamos el entorno virtual para cargar la contraseña como variable de entorno.

In [2]:
import os
from dotenv import load_dotenv

load_dotenv()

SQL_PASSWORD = os.getenv('SQL_PASSWORD')

In [4]:
uri = f'mysql+pymysql://root:{SQL_PASSWORD}@localhost:3306'

## 3 - Motor de conexión

En SQLAlchemy, la función `create_engine` se utiliza para configurar y crear un objeto `Engine` (motor de conexión), que es el punto de conexión central para la comunicación con la base de datos. El motor de conexión gestiona las conexiones a la base de datos y permite ejecutar consultas y transacciones. Es uno de los componentes fundamentales de SQLAlchemy y se utiliza tanto en el Core de SQLAlchemy como en el ORM.



**Parámetros del motor de conexión**


+ **string de conexión**: La string de conexión o URI que especifica el lenguaje de la base de datos, el controlador y los detalles de conexión.


+ **echo**: Si se establece en True, SQLAlchemy imprimirá todas las instrucciones SQL emitidas. Esto es útil para depuración.


+ **pool_size**: Especifica el número de conexiones a mantener en el pool, por defecto es 5.


+ **max_overflow**: Especifica el número máximo de conexiones adicionales que se pueden abrir además de pool_size, por defecto es 10.


+ **pool_timeout**: Especifica el número de segundos que el pool esperará para obtener una conexión del pool antes de generar un error, por defecto es 30.


+ **pool_recycle**: Especifica el número de segundos antes de que las conexiones en el pool se reciclen, por defecto es -1, que significa no reciclar.

In [5]:
from sqlalchemy import create_engine

In [6]:
motor = create_engine(url=uri)

motor

Engine(mysql+pymysql://root:***@localhost:3306)

## 4 - Conexión y ejecución de queries

Una vez creado el motor de conexión vamos a crear la conexión en sí misma para poder ejecutar las consultas de SQL desde Python. Usaremos el método `connect()` que se utiliza para obtener una conexión activa desde el motor.

In [7]:
conexion = motor.connect()

conexion

Una vez creada la conexión, creamos la query y la ejecutamos. Para escribir una query, utilizaremos la la función `text` que se utiliza para definir y ejecutar consultas SQL literales, lo que permite escribir SQL nativo en lugar de utilizar las funciones de alto nivel de SQLAlchemy. Esto es útil cuando necesitemos ejecutar consultas SQL complejas o específicas que no se pueden expresar fácilmente utilizando la programación orientada a objetos.

In [8]:
from sqlalchemy import text

In [9]:
query = text('SHOW DATABASES;')

Ahora ejecutamos la consulta utilizando el método `execute()` de la conexión. Este método devuelve un objeto `cursor ` de SQLAlchemy, para ver el contenido debemos usar el método `all()` del cursor.

In [11]:
conexion.execute(query)

In [12]:
conexion.execute(query).all()

[('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('quizzes',),
 ('sys',)]

In [13]:
conexion.close()

Podemos gestionar la apertura y cierre de la conexión con la palabra reservada de Python `with`. Se utiliza para manejar recursos de manera eficiente y segura mediante el uso de context managers. Al usar with, aseguramos que los recursos se liberen adecuadamente después de su uso, pues al abrir el bloque with se abre la conexión y se cierra al salir del bloque, cuando se sale de la indentación. Incluso si ocurre una excepción, el bloque with lo gestiona.

In [15]:
with motor.connect() as conexion:
    
    tabla = conexion.execute(query).all()
    
# aqui se cierra la conexion

In [16]:
tabla

[('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('quizzes',),
 ('sys',)]

## 5 - Creación, inserción y consulta paso a paso

Vamos a crear una nueva base de datos, una tabla nueva, insertaremos datos y realizaremos un `SELECT` usando queries textuales.

### 5.1 - Apertura de conexión

In [17]:
uri = f'mysql+pymysql://root:{SQL_PASSWORD}@localhost:3306'


motor = create_engine(url=uri)


conexion = motor.connect()

### 5.2 - Creación de una base de datos

In [18]:
query = text('CREATE DATABASE IF NOT EXISTS prueba;')

conexion.execute(query)

### 5.3 - Conexión a base de datos

In [19]:
uri = f'mysql+pymysql://root:{SQL_PASSWORD}@localhost:3306/prueba'

In [20]:
motor = create_engine(url=uri)

In [21]:
conexion = motor.connect()

### 5.4 - Creación de una tabla

In [22]:
query = text('''

CREATE TABLE IF NOT EXISTS test(

    id INT PRIMARY KEY NOT NULL,
    nombre VARCHAR(50),
    numero FLOAT
)
;

''')

conexion.execute(query)

In [24]:
query = text('SHOW TABLES;')

conexion.execute(query).all()

[('test',)]

### 5.5 - Inserción de datos

In [25]:
query = text('''

INSERT INTO test (id, nombre, numero) VALUES (1, "Yo", 3.14);

''')

conexion.execute(query)

In [26]:
query = text('''

INSERT INTO test (id, nombre, numero) 

VALUES (2, "Tu", 1.14), (3, "El", 1.61), (4, "Ella", 2.46);

''')

conexion.execute(query)

### 5.6 - Consulta SELECT

In [27]:
query = text('''

SELECT id, nombre, numero

FROM test;

''')

conexion.execute(query).all()

[(1, 'Yo', 3.14), (2, 'Tu', 1.14), (3, 'El', 1.61), (4, 'Ella', 2.46)]

In [28]:
import pandas as pd

pd.DataFrame(data=conexion.execute(query).all())

   id nombre  numero
0   1     Yo    3.14
1   2     Tu    1.14
2   3     El    1.61
3   4   Ella    2.46

### 5.7 - Borrado de tabla

In [29]:
query = text('''

DROP TABLE IF EXISTS test;

''')

conexion.execute(query)

### 5.8 - Borrado de base de datos

In [30]:
query = text('''

DROP DATABASE IF EXISTS prueba;

''')

conexion.execute(query)

### 5.9 - Cerrar conexión

In [31]:
conexion.close()

## 6 - ORM

ORM (Object Relational Mapper) es una herramienta que permite mapear clases de programación a tablas de bases de datos y objetos a filas en esas tablas. Este enfoque proporciona una abstracción que facilita la manipulación de datos en la base de datos mediante código orientado a objetos.


**Arquitectura y componentes**:


1. **Declarative Base**: La base declarativa permite definir clases de Python que están mapeadas a tablas de la base de datos. Utiliza metadatos para gestionar la estructura y las relaciones de las tablas.


2. **Session**: La sesión en SQLAlchemy gestiona todas las operaciones de persistencia. Se utiliza para agregar, actualizar, eliminar y consultar objetos en la base de datos.


3. **Engine**: El motor establece la conexión con la base de datos. Es responsable de gestionar las conexiones y proporcionar una interfaz para ejecutar comandos SQL.


4. **Mapper**: El mapeador vincula las clases de Python con las tablas de la base de datos, permitiendo que los objetos se mapeen a filas en las tablas.


Veamos el mismo ejemplo anterior, esta vez con programación orientada a objetos.

### 6.1 - Conexión y creación de base de datos

Este proceso se realiza exactamente igual que en el ejemplo anterior.

In [34]:
from sqlalchemy import create_engine, text


uri = 'mysql+pymysql://root:password@localhost:3306'


motor = create_engine(url=uri)

conexion = motor.connect()


query = text('CREATE DATABASE IF NOT EXISTS prueba;')

conexion.execute(query)


conexion.close()


uri = 'mysql+pymysql://root:password@localhost:3306/prueba'

motor = create_engine(url=uri)

### 6.2 - Creación de tablas

La base declarativa es una base común para definir todas las clases mapeadas a tablas. Se crea utilizando `declarative_base` de SQLAlchemy y también los tipos de datos de las columnas. Las clases que representan tablas se definen heredando de Base. Las columnas de la tabla se definen como atributos de clase utilizando tipos de datos de SQLAlchemy.

In [36]:
from sqlalchemy.orm import declarative_base

Base = declarative_base()

In [38]:
from sqlalchemy import Column, Integer, Text, Float


class Test(Base):
    
    __tablename__ = 'test'
    
    id = Column(Integer, primary_key=True)
    
    nombre = Column(Text)
    
    numero = Column(Float)

In [39]:
Base.metadata.create_all(motor)

### 6.3 - Inicio de sesión

La sesión (Session) es el punto central para todas las operaciones de persistencia. Se crea utilizando sessionmaker y se vincula al motor.

In [41]:
from sqlalchemy.orm import sessionmaker


sesion = sessionmaker(bind=motor)()

### 6.4 - Inserción de Datos

Insertamos los datos fila a fila como objetos.

In [42]:
fila_1 = Test(nombre='Yo', numero=3.45)

fila_2 = Test(nombre='Tu', numero=1.45)


fila_3 = Test(nombre='El', numero=3.5)


fila_4 = Test(nombre='Ella', numero=0.47)

In [44]:
sesion.add(fila_1)
sesion.add(fila_2)
sesion.add(fila_3)
sesion.add(fila_4)

In [45]:
sesion.commit()

### 6.5 - Consulta SELECT

In [48]:
datos = sesion.query(Test).all()

for d in datos:
    
    print(d.nombre, d.numero)

Yo 3.45
Tu 1.45
El 3.5
Ella 0.47

In [50]:
datos = sesion.query(Test).filter(Test.numero > 2).all()

for d in datos:
    
    print(d.nombre, d.numero)

Yo 3.45
El 3.5

### 6.6 - Borrado de Tabla

In [ ]:
Test.__table__.drop(motor)

### 6.7 - Borrado de Base de Datos

Este proceso también es exactamente igual al ejemplo anterior, conectándonos al servidor y borrando la base de datos con la query `DROP`.

In [ ]:
uri = 'mysql+pymysql://root:password@localhost:3306'


motor = create_engine(url=uri)

conexion = motor.connect()

In [ ]:
query = text('''

DROP DATABASE IF EXISTS prueba;

''')

conexion.execute(query)

### 6.8 - Cerrar Conexión

In [ ]:
sesion.close()

In [ ]:
motor.dispose()

In [ ]:
conexion.close()