# 2 - Queries SQL


<br>
<br>

<img src="https://raw.githubusercontent.com/Hack-io-AI/ai_images/main/queries_sql.webp" style="width:400px;"/>

<h1>Tabla de Contenidos<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#1---Sublenguajes-de-SQL" data-toc-modified-id="1---Sublenguajes-de-SQL-1">1 - Sublenguajes de SQL</a></span></li><li><span><a href="#2---Tipos-de-datos-es-SQL" data-toc-modified-id="2---Tipos-de-datos-es-SQL-2">2 - Tipos de datos es SQL</a></span><ul class="toc-item"><li><span><a href="#2.1---char/varchar" data-toc-modified-id="2.1---char/varchar-2.1">2.1 - char/varchar</a></span></li><li><span><a href="#2.2---Datos-numéricos" data-toc-modified-id="2.2---Datos-numéricos-2.2">2.2 - Datos numéricos</a></span></li><li><span><a href="#2.3---Datos-temporales" data-toc-modified-id="2.3---Datos-temporales-2.3">2.3 - Datos temporales</a></span></li></ul></li><li><span><a href="#3---Buenas-prácticas" data-toc-modified-id="3---Buenas-prácticas-3">3 - Buenas prácticas</a></span></li><li><span><a href="#4---Queries-de-SQL" data-toc-modified-id="4---Queries-de-SQL-4">4 - Queries de SQL</a></span><ul class="toc-item"><li><span><a href="#4.1---SELECT-y-FROM" data-toc-modified-id="4.1---SELECT-y-FROM-4.1">4.1 - SELECT y FROM</a></span></li><li><span><a href="#4.2---AS-(Alias)" data-toc-modified-id="4.2---AS-(Alias)-4.2">4.2 - AS (Alias)</a></span></li><li><span><a href="#4.3---WHERE" data-toc-modified-id="4.3---WHERE-4.3">4.3 - WHERE</a></span></li><li><span><a href="#4.4---Funciones-de-agregación" data-toc-modified-id="4.4---Funciones-de-agregación-4.4">4.4 - Funciones de agregación</a></span><ul class="toc-item"><li><span><a href="#4.4.1---COUNT" data-toc-modified-id="4.4.1---COUNT-4.4.1">4.4.1 - COUNT</a></span></li><li><span><a href="#4.4.2---SUM" data-toc-modified-id="4.4.2---SUM-4.4.2">4.4.2 - SUM</a></span></li><li><span><a href="#4.4.3---AVG" data-toc-modified-id="4.4.3---AVG-4.4.3">4.4.3 - AVG</a></span></li><li><span><a href="#4.4.4---MIN" data-toc-modified-id="4.4.4---MIN-4.4.4">4.4.4 - MIN</a></span></li><li><span><a href="#4.4.5---MAX" data-toc-modified-id="4.4.5---MAX-4.4.5">4.4.5 - MAX</a></span></li></ul></li><li><span><a href="#4.5---GROUP-BY" data-toc-modified-id="4.5---GROUP-BY-4.5">4.5 - GROUP BY</a></span></li><li><span><a href="#4.6---HAVING" data-toc-modified-id="4.6---HAVING-4.6">4.6 - HAVING</a></span></li><li><span><a href="#4.7---ORDER-BY" data-toc-modified-id="4.7---ORDER-BY-4.7">4.7 - ORDER BY</a></span></li><li><span><a href="#4.8---LIMIT" data-toc-modified-id="4.8---LIMIT-4.8">4.8 - LIMIT</a></span></li></ul></li><li><span><a href="#5---Orden-de-ejecución-de-las-quieries" data-toc-modified-id="5---Orden-de-ejecución-de-las-quieries-5">5 - Orden de ejecución de las quieries</a></span></li><li><span><a href="#6---JOIN" data-toc-modified-id="6---JOIN-6">6 - JOIN</a></span><ul class="toc-item"><li><span><a href="#6.1---INNER-JOIN" data-toc-modified-id="6.1---INNER-JOIN-6.1">6.1 - INNER JOIN</a></span></li><li><span><a href="#6.2---LEFT-JOIN" data-toc-modified-id="6.2---LEFT-JOIN-6.2">6.2 - LEFT JOIN</a></span></li><li><span><a href="#6.3---RIGHT-JOIN" data-toc-modified-id="6.3---RIGHT-JOIN-6.3">6.3 - RIGHT JOIN</a></span></li></ul></li><li><span><a href="#7---Subqueries" data-toc-modified-id="7---Subqueries-7">7 - Subqueries</a></span></li><li><span><a href="#8---Creación-de-tablas" data-toc-modified-id="8---Creación-de-tablas-8">8 - Creación de tablas</a></span><ul class="toc-item"><li><span><a href="#8.1---CREATE" data-toc-modified-id="8.1---CREATE-8.1">8.1 - CREATE</a></span></li><li><span><a href="#8.2---Tabla-permanente-desde-SELECT" data-toc-modified-id="8.2---Tabla-permanente-desde-SELECT-8.2">8.2 - Tabla permanente desde SELECT</a></span></li><li><span><a href="#8.3---Tabla-temporal" data-toc-modified-id="8.3---Tabla-temporal-8.3">8.3 - Tabla temporal</a></span></li><li><span><a href="#8.4---Vista" data-toc-modified-id="8.4---Vista-8.4">8.4 - Vista</a></span></li></ul></li><li><span><a href="#9---Crear-relaciones-entre-tablas" data-toc-modified-id="9---Crear-relaciones-entre-tablas-9">9 - Crear relaciones entre tablas</a></span></li><li><span><a href="#10---Crear-base-de-datos" data-toc-modified-id="10---Crear-base-de-datos-10">10 - Crear base de datos</a></span></li><li><span><a href="#11---INSERT" data-toc-modified-id="11---INSERT-11">11 - INSERT</a></span></li><li><span><a href="#12---UPDATE" data-toc-modified-id="12---UPDATE-12">12 - UPDATE</a></span></li><li><span><a href="#13---DELETE" data-toc-modified-id="13---DELETE-13">13 - DELETE</a></span></li><li><span><a href="#14---DROP" data-toc-modified-id="14---DROP-14">14 - DROP</a></span></li></ul></div>

## 1 - Sublenguajes de SQL

SQL (Structured Query Language) se compone de varios sublenguajes que facilitan diferentes aspectos de la gestión y manipulación de bases de datos. Estos sublenguajes permiten a los usuarios definir estructuras de datos, manipular datos, controlar el acceso a los datos y administrar el sistema de bases de datos. Los principales sublenguajes de SQL son:



+ **Data Definition Language (DDL)** : se refiere a la parte del lenguaje que utilizamos para definir las estructuras para el almacenamiento de los datos. 

    + **CREATE**: Utilizado para crear nuevas tablas, campos e índices.

    + **ALTER**: Utilizado para modificar las tablas agregando campos o cambiando la definición de los campos.

    + **DROP**: Empleado para eliminar tablas e índices.

    + **TRUNCATE**: Empleado para eliminar todos los registros de una tabla.

    + **RENAME**: Tal como su nombre lo indica es utilizado para renombrar objetos.
    

<br>

+ **Data Manipulation Language (DML)** : DML podremos manipular los datos propiamente dichos, efectuando consultas para recuperar datos, modificaciones, borrados, etc. Las operaciones fundamentales de manipulación de datos son cuatro y consecuentemente cuatro los comando  DML que necesitaremos para poder llevarlas a cabo.

    + **SELECT**: La sentencia DML por excelencia se utiliza para ejecutar consulta de recuperación de datos.

    + **INSERT**: Su finalidad es insertar nuevas filas en una tabla.

    + **UPDATE**: Con este comando es posible cambiar la información alojada en una o mas filas.

    + **DELETE**: Se utiliza para eliminar una o mas filas.

<br>

+ **Data Control Language (DCL)** : mucho menos conocidos que los anteriores este lenguaje se compone de sentencias especificas para garantizar la seguridad de acceso a los datos, facilitando la gestión de usuarios y el otorgamiento o denegación de los permisos necesarios para operar cada elemento de la base de datos. 

    + **GRANT**: Da permisos a la base de datos 

    + **REVOKE**: Revoca permisos a la base de datos
      
<br>

+ **Transaction Control Language (TCL)** : TCL (Transactional Control Language): Permite administrar diferentes transacciones que ocurren dentro de una base de datos. 

    + **COMMIT**: Guarda los cambios que hemos hecho en la base de datos, no se pueden deshacer.

    + **ROLLBACK**: Revierte los cambios al estado del último commit

## 2 - Tipos de datos es SQL

### 2.1 - char/varchar

Los datos de caracteres pueden almacenarse como cadenas de longitud fija o variable; la diferencia es que las cadenas de longitud fija se rellenan con espacios a la derecha y siempre consumen el mismo número de bytes, y las cadenas de longitud variable no se rellenan con espacios a la derecha y no siempre consumen el mismo número de bytes. Al definir una columna de caracteres, debe especificar el tamaño máximo de cualquier cadena que se vaya a almacenar en la columna. Por ejemplo, si desea almacenar cadenas de hasta 20 caracteres de longitud, puede utilizar cualquiera de las siguientes definiciones:

```SQL
char(20) /* de longitud fija 20 caracteres*/

varchar(20) /* de longitud variable, máximo 20 caracteres*/
``` 
La longitud máxima de las columnas char es actualmente de 255 bytes, mientras que las columnas varchar pueden tener hasta 65.535 bytes. Si necesitas almacenar cadenas más largas, como correos electrónicos o documentos XML, entonces querremos utilizar uno de los tipos de texto (mediumtext y longtext).

En general, se debe utilizar el tipo char cuando todas las cadenas que se van a almacenar en la columna tienen la misma longitud, como las abreviaturas del estado, y el tipo varchar cuando las cadenas que se van a almacenar en la columna tienen longitudes diferentes. Tanto char como varchar se utilizan de forma similar en los principales servidores de bases de datos.

### 2.2 - Datos numéricos

Aunque podría parecer razonable tener un único tipo de datos numéricos, en realidad hay varios tipos de datos numéricos diferentes que reflejan las diversas formas en que se utilizan los números, dependiendo de la memoria que necesitemos ocupar.


```SQL

tinyint  /* rango de -128 a 127 o de 0 a 255 */

smallint  /* rango de -32768 a 32767 o de 0 a 65535 */

mediumint  /* rango de aprox -8M a 8M 0 de 0 a aprox 16M */

int  /* rango de aprox -2000M a 2000M 0 de 0 a aprox 4000M */

bigint  /* rango de -2*10^63 a 2*10^63 - 1 o de 0 a 2*10^64 - 1 */

float  /* rango de aprox -3.4*10^38 a -1.17*10^-38 y de 1.17*10^-38 a 3.4*10^38 */

double  /* rango de aprox -1.79*10^308 a -2.22*10^-308 y de 2.22*10^-308 a 1.79*10^308 */
```

### 2.3 - Datos temporales

Junto con las cadenas y los números, es casi seguro que trabajaremos con información sobre fechas y horas. Este tipo de datos se denomina temporal, y algunos ejemplos de datos temporales en una base de datos son:

+ La fecha futura en la que se espera que ocurra un evento concreto, como el envío del pedido de un cliente
+ La fecha en que se envió el pedido de un cliente
+ La fecha y hora en que un usuario modificó una fila concreta de una tabla
+ La fecha de nacimiento de un empleado
+ El año correspondiente a una fila de una tabla de hechos yearly_sales en un almacén de datos
+ El tiempo transcurrido para completar un mazo de cables en una línea de montaje de automóviles


MySQL incluye tipos de datos para manejar todas estas situaciones:


```SQL
date /* yyyy-mm-dd   desde 1000-01-01 hasta 9999-12-31 */

datetime /* yyyy-mm-dd hh:mm:ss   desde 1000-01-01 00:00:00 hasta 9999-12-31 23:59:59*/

timestamp /* nº de segundos desde 1970-01-01 hasta 2038-01-18 */

year /* yyyy desde 1901 hasta 2155 */

time /* hh:mm:ss */
```

## 3 - Buenas prácticas

+ Añadir comentarios al código que ayuden a la lectura de la consulta.

+ Utilizar las cláusulas en mayúscula y los nombres de tablas y columnas en minúscula.

+ Nombrar las variables de forma sencilla y fácil de entender.

+ Utilizar bien los espacios y la indentación.

+ Usar alias para renombrar las columnas de forma descriptiva y clara.

+ Evitar utilizar SELECT *, selecciona las columnas que son de tu interés y trata de hacer todo el filtrado antes de hacer la consulta.

+ Utilizar indentación para que las consultas sean más claras y fácil de entender.

## 4 - Queries de SQL

### 4.1 - SELECT y FROM

La cláusula `SELECT` se utiliza para especificar las columnas que deseas recuperar de una tabla o de varias tablas. Es la primera cláusula en una consulta SQL y define los datos que se seleccionarán.

La cláusula `FROM` se utiliza para especificar la tabla o tablas de las cuales se recuperarán los datos. Es la segunda cláusula en una consulta SQL y define la fuente de los datos.

Veamos algunos ejemplos con la base de datos publications:

```SQL
/* selección de todas las columnas de una tabla */

SELECT *

FROM publishers;

```

```SQL
/* selección de columnas con nombre de una tabla */

SELECT pub_name, 
       city, 
       state, 
       country
       
FROM publishers;

```

### 4.2 - AS (Alias)

La palabra clave `AS` se utiliza para asignar alias tanto a las columnas como a las tablas en una consulta. Los alias son nombres temporales que puedes usar para hacer que los resultados de las consultas sean más legibles o para simplificar las referencias a las tablas y columnas en una consulta compleja.

```SQL
/* selección de columnas con alias de una tabla */

SELECT pub_name AS nombre,  
       city AS ciudad, 
       state AS estado, 
       country AS pais
       
FROM publishers;

```

### 4.3 - WHERE

La cláusula `WHERE` en SQL se utiliza para filtrar registros en una consulta según condiciones específicas. Esta cláusula permite extraer únicamente aquellos registros que cumplen con los criterios definidos, lo que facilita la selección de datos relevantes de una base de datos.

```SQL
/* selección de una tabla con un condicional */

SELECT pub_name AS nombre,  
       city AS ciudad, 
       state AS estado, 
       country AS pais
       
FROM publishers

WHERE city='Boston' or city='Chicago';

```

```SQL
/* misma query con IN */

SELECT pub_name AS nombre,  
       city AS ciudad, 
       state AS estado, 
       country AS pais
       
FROM publishers

WHERE city IN ('Boston', 'Chicago');

```

### 4.4 - Funciones de agregación

Las funciones de agregación en SQL se utilizan para realizar cálculos sobre un conjunto de valores y devolver un solo valor. Estas funciones son fundamentales para resumir y analizar datos en bases de datos

#### 4.4.1 - COUNT

Cuenta el número de filas que coinciden con un criterio.

```SQL
/* uso del count */

SELECT COUNT(city) AS cuenta
       
FROM publishers;

```

#### 4.4.2 - SUM

Suma los valores de una columna.

```SQL
/* uso del sum */

SELECT SUM(qty) AS suma
       
FROM sales;

```

#### 4.4.3 - AVG

Calcula el valor promedio de una columna.

```SQL
/* uso de avg */

SELECT AVG(qty) AS media
       
FROM sales;

```

#### 4.4.4 - MIN

Encuentra el valor mínimo en una columna.

```SQL
/* uso de min */

SELECT MIN(qty) AS minimo
       
FROM sales;

```

#### 4.4.5 - MAX

Encuentra el valor máximo en una columna.

```SQL
/* uso de max */

SELECT MAX(qty) AS maximo
       
FROM sales;

```

### 4.5 - GROUP BY

La cláusula `GROUP BY` en SQL se utiliza para agrupar filas que tienen valores iguales en columnas específicas y permite realizar operaciones de agregación en cada grupo. De hecho, salvo en la columna por la cual estamos agrupando, es necesario el uso de una función de agregación.

```SQL
/* uso de group by con distintas funciones de agregación */

SELECT ord_num,
	   SUM(qty) AS suma,
       AVG(qty) AS media,
       MIN(qty) AS minimo,
       MAX(qty) AS maximo

FROM sales

GROUP BY ord_num;

```

### 4.6 - HAVING

La cláusula `HAVING` se utiliza para filtrar los resultados de GROUP BY según una condición de agregación.

```SQL
/* uso del having con group by */

SELECT ord_num,
	   SUM(qty) AS suma,
       AVG(qty) AS media,
       MIN(qty) AS minimo,
       MAX(qty) AS maximo

FROM sales

GROUP BY ord_num

HAVING AVG(qty)>20;

```

### 4.7 - ORDER BY

La cláusula `ORDER BY` en SQL se utiliza para ordenar el resultado de una consulta según una o más columnas. Por defecto, ORDER BY ordena los datos en orden ascendente, pero también puedes especificar un orden descendente.

```SQL
/* ordenado de manera ascendente segun media */

SELECT ord_num,
       SUM(qty) AS suma,
       AVG(qty) AS media,
       MIN(qty) AS minimo,
       MAX(qty) AS maximo

FROM sales

GROUP BY ord_num

HAVING AVG(qty)>20

ORDER BY media ASC;

```

```SQL
/* ordenado de manera descendente segun media */

SELECT ord_num,
       SUM(qty) AS suma,
       AVG(qty) AS media,
       MIN(qty) AS minimo,
       MAX(qty) AS maximo

FROM sales

GROUP BY ord_num

HAVING AVG(qty)>20

ORDER BY media DESC;

```

### 4.8 - LIMIT

La cláusula `LIMIT` en SQL se utiliza para especificar el número máximo de registros que se deben devolver en el resultado de una consulta. Esta cláusula es útil cuando se trabaja con grandes conjuntos de datos y se desea limitar la cantidad de datos devueltos para hacer la consulta más manejable o para paginar los resultados.

```SQL
/* limitado a 5 filas */

SELECT ord_num,
       SUM(qty) AS suma,
       AVG(qty) AS media,
       MIN(qty) AS minimo,
       MAX(qty) AS maximo

FROM sales

GROUP BY ord_num

HAVING AVG(qty)>20

ORDER BY media DESC

LIMIT 5;

```

## 5 - Orden de ejecución de las quieries

En SQL, el orden de ejecución de las cláusulas en una consulta es crucial para entender cómo se procesan los datos. Aunque las consultas SQL se escriben en un orden específico, las cláusulas se ejecutan en un orden que puede no coincidir con el orden en que aparecen en la consulta. 


**Orden de ejecución de una consulta SQL**


1. **FROM**: Selección de la tabla o tablas de las cuales se recuperarán los datos. Incluye la ejecución de cualquier `JOIN` (a continuación lo veremos) y la generación del producto cartesiano si es necesario.


2. **WHERE**: Filtrado de filas basado en condiciones especificadas. Se aplica a los datos recuperados por la cláusula FROM.


3. **GROUP BY**: Agrupación de filas en grupos basados en valores de una o más columnas.


4. **HAVING**: Filtrado de grupos basados en condiciones especificadas. Se aplica a los grupos creados por GROUP BY.


5. **SELECT**: Selección de las columnas que se incluirán en el resultado final. También puede incluir la aplicación de funciones de agregación.


6. **ORDER BY**: Ordenación de las filas en el resultado final según uno o más criterios.


7. **LIMIT**: Limitación del número de filas y especificación del punto de inicio.

## 6 - JOIN

El `JOIN` en SQL se utiliza para combinar filas de dos o más tablas basadas en una condición relacionada entre ellas, una condición sobre una columna que ambas comparten con la palabra reservada `ON`. Los joins son esenciales para trabajar con bases de datos relacionales, donde los datos están normalizados, donde entidades distintas están en tablas distintas.

### 6.1 - INNER JOIN

Devuelve las filas que tienen coincidencias en ambas tablas.

```SQL
/* inner join de ventas con tiendas sobre la columna stor_id */

SELECT * 

FROM sales

INNER JOIN stores

ON sales.stor_id=stores.stor_id;

```

```SQL
/* los join pueden unir varias tablas a la vez, una relación many to many por ejemplo */

SELECT * 

FROM authors AS a

INNER JOIN titleauthor AS ta

ON a.au_id=ta.au_id

INNER JOIN titles AS t

ON t.title_id=ta.title_id;

```

### 6.2 - LEFT JOIN

Devuelve todas las filas de la tabla de la izquierda y las filas coincidentes de la tabla de la derecha. Las filas de la tabla de la derecha que no tienen coincidencias mostrarán `NULL`.

```SQL
/* left join de ventas con tiendas sobre la columna stor_id */

SELECT * 

FROM sales

LEFT JOIN stores

ON sales.stor_id=stores.stor_id;

```

### 6.3 - RIGHT JOIN

Devuelve todas las filas de la tabla de la derecha y las filas coincidentes de la tabla de la izquierda. Las filas de la tabla de la izquierda que no tienen coincidencias mostrarán `NULL`.

```SQL
/* right join de ventas con tiendas sobre la columna stor_id */

SELECT * 

FROM sales

RIGHT JOIN stores

ON sales.stor_id=stores.stor_id;

```

## 7 - Subqueries

Las subqueries, también conocidas como subconsultas o consultas anidadas, son consultas SQL ubicadas dentro de otra consulta SQL. Las subqueries se pueden usar en varias partes de una consulta, como en la cláusula SELECT, FROM, WHERE, HAVING, entre otras. Son útiles para realizar consultas más complejas y dinámicas. Hay que tener en cuenta que una query es una tabla, por lo que podemos realizar una consulta sobre esa misma tabla. En general, la subtabla necesitará un alias para poder realizar la consulta.

```SQL
/* subconsulta con from, en el segundo select empieza una tabla llamada averages */

SELECT store, 
       items/orders AS avgitems,
       qty/items AS avgqty
       
FROM

    (SELECT stores.stor_name AS store,
            COUNT(DISTINCT(ord_num)) AS orders,
            COUNT(title_id) AS items, 
            SUM(qty) AS qty

    FROM publications.sales sales

    INNER JOIN publications.stores stores

    ON stores.stor_id=sales.stor_id

    GROUP BY store) AS averages;
```

```SQL
/* subconsulta con in, se realiza un where a una segunda tabla que no necesita alias */

SELECT stor_id, 
       m.title, 
       m.title_id, 
       payterms  
       
FROM sales 

INNER JOIN titles AS m 

ON sales.title_id = m.title_id

WHERE payterms != "Net 30" AND  m.title_id IN (
    
		SELECT titles.title_id 
    
        FROM sales 
    
		INNER JOIN titles 
    
        ON sales.title_id = titles.title_id
    
		WHERE payterms = "Net 30"
    
	);
```

## 8 - Creación de tablas

### 8.1 - CREATE

La cláusula `CREATE` en SQL se utiliza para crear nuevos objetos en una base de datos, como tablas, índices, vistas y bases de datos. Es una parte fundamental del lenguaje de definición de datos (DDL) en SQL.

```SQL
/* creación de una tabla inexistente */

CREATE TABLE IF NOT EXISTS nombre_tabla (
  id int primary key,
  atributo_1 varchar(40) not null,
  atributo_2 varchar(3) not null,
  atributo_3 int,
  atributo_4 date,
  atributo_5 boolean
);

```

### 8.2 - Tabla permanente desde SELECT

En SQL, podemos crear una tabla a partir del resultado de una consulta `SELECT` utilizando la instrucción `CREATE TABLE`. Esta técnica es útil para guardar los resultados de una consulta en una nueva tabla para un uso posterior.

```SQL
/* creación de una tabla inexistente desde un select llamada store_sales_summary*/

CREATE TABLE publications.store_sales_summary

SELECT stores.stor_id AS storeID, 
       stores.stor_name AS store,
       COUNT(DISTINCT(ord_num)) AS orders, 
       COUNT(title_id) AS items, 
       SUM(qty) AS qty
       
FROM publications.sales AS sales

INNER JOIN publications.stores AS stores

ON stores.stor_id=sales.stor_id

GROUP BY storeID, store;

```

### 8.3 - Tabla temporal

Las tablas temporales en SQL son tablas que existen sólo durante la sesión de la base de datos en la que fueron creadas. Son útiles para almacenar datos intermedios o temporales que no necesitan ser persistidos a largo plazo. La mayoría de los sistemas de gestión de bases de datos (DBMS) soportan tablas temporales con algunas variaciones en la sintaxis y el comportamiento.

```SQL
/* creación de una tabla temporal desde un select llamada store_sales_summary*/

CREATE TEMPORARY TABLE publications.store_sales_summary

SELECT stores.stor_id AS storeID, 
       stores.stor_name AS store,
       COUNT(DISTINCT(ord_num)) AS orders, 
       COUNT(title_id) AS items, 
       SUM(qty) AS qty
       
FROM publications.sales AS sales

INNER JOIN publications.stores AS stores

ON stores.stor_id=sales.stor_id

GROUP BY storeID, store;

```

### 8.4 - Vista

Una vista en SQL es una tabla virtual basada en el resultado de una consulta SQL. Las vistas no almacenan datos por sí mismas; en su lugar, almacenan una consulta que se ejecuta cada vez que se accede a la vista, es por esto que si se actualiza la base de datos se actualiza la vista. Las vistas son útiles para simplificar consultas complejas, proporcionar una capa de seguridad y abstraer los detalles subyacentes de las tablas.

```SQL
/* creación de una vista llamada store_sales_summary*/

CREATE VIEW store_sales_summary

AS

SELECT stores.stor_id AS storeID, 
       stores.stor_name AS store,
       COUNT(DISTINCT(ord_num)) AS orders, 
       COUNT(title_id) AS items, 
       SUM(qty) AS qty
       
FROM publications.sales AS sales

INNER JOIN publications.stores AS stores

ON stores.stor_id=sales.stor_id

GROUP BY storeID, store;

```

## 9 - Crear relaciones entre tablas

En SQL, las relaciones entre tablas se definen mediante claves foráneas, foreign keys. Estas claves foráneas se utilizan para mantener la integridad referencial en una base de datos relacional. Podemos usar la instrucción `ALTER TABLE` para añadir, modificar o eliminar claves foráneas en una tabla existente. Ejemplo paso a paso:

+ **nombre_tabla**: La tabla a la que se va a añadir la clave foránea.

+ **nombre_clave_foranea**: El nombre de la clave foránea (opcional pero recomendado para referencia).

+ **columna_clave_foranea**: La columna en la tabla actual que actuará como clave foránea.

+ **tabla_referenciada**: La tabla que contiene la clave primaria a la que se hace referencia.

+ **columna_referenciada**: La columna en la tabla referenciada que es la clave primaria.

```SQL
/* creación de una relación entre tablas */

ALTER TABLE nombre_tabla
ADD CONSTRAINT nombre_clave_foranea
FOREIGN KEY (columna_clave_foranea)
REFERENCES tabla_referenciada (columna_referenciada);

```

## 10 - Crear base de datos

Para crear una base de datos usamos `CREATE DATABASE` junto con el nombre de la base de datos.

```SQL
/* creación de una base de datos */

CREATE DATABASE nombre_base_datos;

```

## 11 - INSERT

La instrucción `INSERT` en SQL se utiliza para añadir nuevos registros a una tabla existente. Es una de las operaciones básicas para manipular datos en una base de datos relacional.

```SQL
/* insertar una fila en una base de datos */

INSERT INTO nombre_tabla (id, columna_a, columna_b,..)
VALUES (1, 'A',  3.14,..);
```

```SQL
/* insertar varias filas en una base de datos */

INSERT INTO nombre_tabla (id, columna_a, columna_b,..)

VALUES 

(1, 'A',  3.14,..)
(2, 'B',  1.61,..)
(3, 'C',  6.36,..)

;
```

## 12 - UPDATE

La instrucción `UPDATE` en SQL se utiliza para modificar los datos existentes en una tabla. Podemos actualizar una o más columnas de una o más filas basadas en una condición específica.

```SQL
/* actualiza valores en una tabla */

UPDATE nombre_tabla

SET columna = 'valor'

WHERE id = 1;
```

## 13 - DELETE

La instrucción `DELETE` en SQL se utiliza para eliminar filas de una tabla. Puedes eliminar una o más filas basándote en una condición específica. [Amigo programador](https://www.youtube.com/watch?v=jsuerKRsEyA), es importante usar la cláusula `WHERE` para especificar qué filas se deben eliminar; de lo contrario, todas las filas de la tabla serán eliminadas.

```SQL
/* borra filas de una tabla */

DELETE 

FROM nombre_tabla 

WHERE columna = 'valor';
```

## 14 - DROP

La instrucción `DROP` en SQL se utiliza para eliminar objetos de la base de datos, como tablas, vistas, índices y bases de datos enteras. Es una operación destructiva que borra completamente el objeto y todos sus datos asociados, por lo que debe ser usada con precaución.

```SQL
/* borrar tabla */

DROP TABLE nombre_tabla;

```

```SQL
/* borrar vista */

DROP VIEW nombre_vista;

```

```SQL
/* borrar base de datos */

DROP DATABASE nombre_base_datos;

```